---
layout: default
---

<div class="home">
	<ul class="post-list">
	{% for post in site.posts %}
		{%if post.front %}
		<li class="{% cycle 'bg-green', 'bg-yellow', 'bg-black' %} {% cycle 'text-left', 'text-right' %} row">
			<div class="{%if post.image %}col-sm-6 {% else %} col-sm-12 {% endif %}">
				<h1 id="{{post.title | join | downcase}}">{{ post.title }}</h1>
				<h2>{{ post.subtitle }}</h2>
				{%if post.image %}
					<div class="col-sm-12">{{ post.content }}</div>
				{% endif %}
			</div>
			{%if post.image %}	
				<div class="col-sm-6">
					<img src="{{post.image}}" class="img-responsive"/>
				</div>
			{% else %}
				<div class="col-sm-12">{{ post.content }}</div>
			{% endif %}
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>