<footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/plugins.js"></script>
	
	<script src="{{ site.baseurl }}/js/mapplic/hammer.min.js"></script>
	<script src="{{ site.baseurl }}/js/mapplic/jquery.mousewheel.js"></script>
	<script src="{{ site.baseurl }}/js/mapplic/magnific-popup.js"></script>
	<script src="{{ site.baseurl }}/js/mapplic/mapplic.js"></script>
	
	
	<script src="{{ site.baseurl }}/js/script.js"></script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47832130-4', 'auto');
  ga('send', 'pageview');
	</script>
	
<script type='text/javascript' data-cfasync='false'>//if(window.location.href.indexOf("nonav")<0){window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.className = "chat"; script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'ac018378-a445-4363-a094-b099585e3629', f: true }); done = true; } }; })();}</script>	
</footer>
