.navbar{
	border: 0;
	margin-bottom: 0;
	>li{
		font-weight: $headings-font-weight;
		font-size: $font-size-h5;
	}
	.navbar-brand{
		height: auto;
		img{
			max-height: $navbar-height * 2.5;
		}
	}
}
@media (min-width: $screen-md-min) {
	.navbar-brand{
		img{
			max-height: $navbar-height * 4.5 !important;
		}
	}
}